body{
    display: grid;
    grid-template-areas: 'user' 'content' 'footer';
    grid-template-rows: 60px 1fr 70px; grid-template-columns: 1fr;
    grid-gap: 0; 
    margin: 0;
    background:white;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
}

#user{ 
    grid-area: user;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content{ 
    grid-area: content;
    background: white;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 100%;
}

#content_only1{
    margin-top: 7%;
}

#content_only3{
    padding-bottom: 0;
}

#content_only4{
    margin-top: 3%;
}

#content_only5{
    margin-top: 17%;
}

#content_only6{
    margin-top: 17%;
}

#footer{
    grid-area: footer;
    text-align: center;
}

#tree1{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    top: 360px;
}

#tree2{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    right: 0;
    top: 3px;
}

#tree2_1{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    left: -20%;
    top: 430px;
    transform: rotate(180deg);
}

#tree3{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    right: 0;
    top: 0;
}

#tree3_1{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    left: -20%;
    top: 950px;
    transform: rotate(180deg);
}

#tree4{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    right: 0;
    top: 380px;
}

#tree5{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    top: 350px;
}

#content1{
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.4); 
    text-align: center;
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 6.5%;
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content2{ 
    position: relative;
    z-index: 3;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 6.5%;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content3{
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 7.5%;
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content3_help{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#content4{ 
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 6.5%;
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content5{
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 83.9665428%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 6.5%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

.content6{ 
    position: relative;
    z-index: 3;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 6.5%;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}


#photo_user{
    width: 60px;
    height: 60px;
    margin-left: 6.5%;
    margin-right: 3%;
}

#photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#name_user{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.7%;
}

#name_user a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#arrow{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon1{
    position: absolute;
    z-index: 2;
    top: -25px;
    left: 38.3828996%;
    width: 100px;
}

#icon2{
    position: absolute;
    z-index: 2;
    top: -35px;
    left: 38.3828996%;
    width: 100px;
}

#country_choice{
    color: rgba(0, 0, 0, 1);;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:17.5011617% ;
    width: 65%;
    height: 22px;
    border:none;
    background:none;
    font-size: 20px;
    font-weight: 300;
    line-height: 21.94px;
}

#country{
    margin-left: 2%;
    width: 96%;
    border: none;
    border-radius:15px;
    margin-top: 8%;
    height: 78px;
    position: relative;
    border-radius: 25px;
}
.country6{
    margin-left: 2%;
    width: 96%;
    border: none;
    border-radius:15px;
    margin-top: 8%;
    margin-bottom: 8%;
    height: 78px;
    position: relative;
    border-radius: 25px;
}

.c_im{
    width: 100%;
    height: 78px;
    position: absolute;
    z-index: 1;
}

.img{
    width: 100%;
    height: 78px;
    object-fit: cover;
    border-radius: 25px;
}

.c_txt{
    width: 100%;
    height: 78px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.c_txt a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;

}

.c_but{
    width: 30px;
    height: 78px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    right: 7%;
}

.c_txt6{
    border-radius: 25px;
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
    
}
.c_txt6 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;

}

.c_but6{
    width: 30px;
    height: 90px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    right: 7%;
}

#object{
    position: relative;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

#obj_im{
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#text_about_object{
    margin-top: 10px;
    overflow: auto;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: rgba(0, 0, 0, 1);


}

#buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 175px;
}

#ar_cat_4{
    margin-right: 30px;
}

#head3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2.7308228%;
    margin-bottom: 10px;
    align-items: center;
    margin-right: 2.7308228%;
}

#head_button{
    margin-bottom: 10px;
    text-align: center;
    margin-left: 2.7308228%;
    margin-right: 2.7308228%;
}

#head_button3{
    width: 100%;
    height: 70px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 21.94px;
    background: blue;
    border-radius: 60px;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
}

#icon3{
    width: 50px;
    height: 50px;
}

#icon3_im{
    width: 100%;
    object-fit: cover;
}

#txt3{
    margin-left: 8.84212375%;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;

}

#txt4{
    margin-left: 10.3362992%;
    line-height: 21.94px;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.94px;
    color: rgba(0, 0, 0, 1);


}

#first_group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 2.7308228%;
}

#second_group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 2.7308228%;
}

#third_group{
    width: 12.6136705%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.objectss{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 20px;
}
/* отсюда  новое */
.objects{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
}
.objects a {
    display: block;
    width: 150px;
    height: 150px;
}
.objects .text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 21.94px;
    color: rgba(0, 0, 0, 1);
}

.objects .text-container .text-column {
    width: 100px;
    text-align: center;
}
/* до сюда .*/

#last1{
    margin-bottom: 0;
}

#last2{
    margin-bottom: 0;
}

#last3{
    margin-bottom: 0;
}

.objects_img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

}

#discription{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;

}

#catalog{
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 60px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#catalog_img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 220px;
    border-radius:25px;
}

#cat_im{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius:25px;
}

#catalog_b{
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#ar_cat{
    position: absolute;
    z-index: 2;
    top: 145px;
}

#txt_cat{
    position: absolute;
    z-index: 2;
    top: 185px;
}

#cat{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: rgba(255, 255, 255, 1);

}

.ar_cat_pc{
    background: rgba(56, 66, 65, 0.48);
    width: 30px;
    height: 30px;
    border: 1px solid rgba(12, 146, 243, 1);
    box-shadow: 0px 0px 2.299999952316284px 2px rgba(12, 146, 243, 1);
    border-radius: 50%;
}

.inf{
    border: 1px solid rgba(115, 194, 252, 1);
    background: rgba(255, 255, 255, 0.6); 
    min-width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: black;
}
.inf_b{
    border: 1px solid rgba(115, 194, 252, 1);
    background: rgba(255, 255, 255, 0.4); 
    width: 45%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: black;
    margin-left:2.280777%;
    margin-right:2.280777%;
}

.inf h4{
    font-size: 9px;
}

.inf_i{
    width: 75px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: -10px;
}

#window1{
    width: 8.45945946%; 
}

#window2{
    width: 8.45945946%; 
}

#question{
    position: relative;
    display: flex;
    width: 85.9665428%;
    margin-left: 6.5%;
    border-radius: 15%;
    margin-bottom: 60px;
    text-align: center;
}
#question8{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85.9665428%;
    margin-left: 6.5%;
    border-radius: 15%;
    margin-bottom: 60px;
    text-align: center;
}

#back_button{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: blue;
    border-radius:60px;
    border: none;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
}
#back_button_first{
    margin-top: -45px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: blue;
    border-radius:60px;
    border: none;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
}
#back_button_second{
    margin-top: 35px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: blue;
    border-radius:60px;
    border: none;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
}

#back_button2{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: blue;
    border-radius:60px;
    border: none;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
    margin-top: 130px;
}


.question_b{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 70px;
    float: left;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 21.94px;
}
#question_b a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 21.94px;
    text-decoration: none;

}
#question_b_first{
    margin-top: -45px;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 70px;
    float: left;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 21.94px;
}
#question_b_second{
    margin-top: 35px;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 70px;
    float: left;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 21.94px;
}

#question_b{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 70px;
    float: left;
    background: none;
    font-size: 16px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 21.94px;
}

#question_b2{
    margin-top: 130px;
}


.icon_word{
    padding-top: 5px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.count_number{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 21.94px;
    font-size:45px;
}

.icon_word_i{
    background: rgba(219, 240, 255, 0.49);
    border-radius: 50%;
    border: 1px solid rgba(219, 240, 255, 0.49);
    width: 54px;
    height: 54px;
    margin: auto;

}

.under_text{
    padding-bottom:10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 21.94px;
}

.second_circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width:63px;
    height: 63px;
    border: 1px solid rgba(219, 240, 255, 0.32);
    background: rgba(219, 240, 255, 0.32);
    border-radius: 50%;

}