body{
    display: grid;
    grid-template-areas: 'user' 'content' 'footer';
    grid-template-rows: 60px 1fr 70px; grid-template-columns: 1fr;
    grid-gap: 0; 
    margin: 0;
    background:white;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
}

#user{ 
    grid-area: user;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#content{ 
    grid-area: content;
    background: white;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}

#footer{
    grid-area: footer;
    text-align: center;
}

#tree{
    position: absolute;
    z-index: 2;
    width: 328px;
    height: 327px;
    left: -11%;
    top: 360px;
    transform: rotate(-30deg);
}

#content1{
    position: relative;
    z-index: 3;
    background: #f1f1f1;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(7px); 
    text-align: center;
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 7.01672862%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content2{ 
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.01);
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 7.01672862%;
    border: 3px solid rgba(219, 240, 255, 0.3); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    background: crimson;
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 7.01672862%;
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#content4{ 
    background-color:#f1f1f1 ;
    display: flex;
    flex-direction: column;
    height: 450px;
    background: crimson;
    width: 83.9665428%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 7.01672862%;
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
}

#photo_user{
    width: 60px;
    height: 60px;
    margin-left: 7.01672862%;
    margin-right: 3%;
}

#photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#name_user{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.7%;
}

#name_user a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#arrow{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon1{
    position: absolute;
    top: -35px;
    left: 38.3828996%;
    width: 100px;
}

#blocks_countries{
    margin-left:5%;
    background: rgba(255, 255, 255, 0.01);
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius:25px ;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 3px solid rgba(219, 240, 255, 0.07); 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
    box-shadow: -6px 9px 10.899999618530273px 0px rgba(219, 240, 255, 1);
    box-shadow: 0px 2px -50px 0px rgba(97, 190, 236, 0.5) inset;
    
}

#country_choice{
    color: rgba(0, 0, 0, 1);;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:17.5011617% ;
    width: 65%;
    height: 22px;
    border:none;
    background:none;
    font-size: 20px;
    font-weight: 300;
    line-height: 21.94px;
}

#country{
    margin-left: 2%;
    width: 96%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius:15px;
    margin-top: 8%;
    height: 78px;
    border:none;
    background-color:rgba(255, 255, 255, 0.01);
    font-size:18px;
}
.img{
    width: 100%;
    height: 78px;
    object-fit: cover;
    position: relative;
}

#country a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

#another_country{
    margin-top: 3%;
    width: 85.9665428%;
    height: 70px;
    margin-left: 7.01672862%;
    border-radius: 15%;
}

#another_country_b{
    margin-top:2%;
    width: 100%;
    height: 54px;
    border-radius: 15%;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
    border-radius:34px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 21.94px;
}

#block2{
    margin-top: 30px;
    width: 85.9665428%;
    height: 70px;
    margin-left: 7.01672862%;
    margin-bottom: 60px;
}

#block1{
    position: relative;
    display: flex;
    width: 100%;
    height: 290px;
}

.object_img{
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

#text_about_object{
    position: absolute;
    float: left;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
    width: 60%;
    max-height: 100%;
    right: 0;
    z-index: 2;
    overflow: auto;
}

#article{
    text-align: center;
    font-size: 20px;
}

#right{
    box-shadow:
    0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0  2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 45%;
    height: 45px;
    border-radius: 15px;
    border:none;
    position: relative;
    display: inline-block;
    text-align: center;
    background: linear-gradient(#1062d3, #0e4ea8);
    float: right;
}
#right:hover{
    width: 44%;
    height: 44px;
    box-shadow: 2px 2px 2px 2px #4a8ce9;
}

#left{
    box-shadow:
    0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0  2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 45%;
    height: 45px;
    border-radius: 15px;
    border:none;
    position: relative;
    display: inline-block;
    text-align: center;
    background: linear-gradient(#1062d3, #0e4ea8);
    float: left;
}
#left:hover{
    width: 44%;
    height: 44px;
    box-shadow: 2px 2px 2px 2px #4a8ce9;
}
#left img {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
  }
  #right img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
  }

#counting_b{
    width: 85.9665428%;
    height: 70px;
    margin-left: 7.01672862%;
    margin-bottom: 60px;
    border-radius: 15%;
}

#counting_button{
    width: 100%;
    height: 70px;
    border-radius: 15%;
    background: linear-gradient(#1062d3, #0e4ea8);
    border-radius:30px 0 30px 0;
    border: none;
    box-shadow: 1px 1px 1px 1px #4a8ce9;
    font-size: 18px;
    color: white;
}

#counting_button:hover{
    width: 94%;
    height: 63px;
    box-shadow: 2px 2px 2px 2px #4a8ce9;
}


#first_group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    margin-left: 7.57434944%;
}

#second_group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 7.57434944%;
}

.objects{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.objects_img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#discription{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
}

#catalog{
    width: 100%;
    height: 220px;
    margin-bottom: 60px;
    border-radius:25px;
    background-image: url('img/catalog.png');
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

#ar_cat{
    margin-top: 155px;
}
#cat{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: rgba(255, 255, 255, 1);

}
#ar_cat_pc{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(12, 146, 243, 1);
    box-shadow: 0px 0px 2.299999952316284px 2px rgba(12, 146, 243, 1);
    border-radius: 50%;
}

.inf{
    border: 1px solid rgba(115, 194, 252, 1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px); 
    min-width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: black;
}


#window1{
    width: 8.45945946%; 
}

#window2{
    width: 8.45945946%; 
}

#question{
    position: relative;
    display: flex;
    width: 85.9665428%;
    margin-left: 7.01672862%;
    border-radius: 15%;
    margin-bottom: 60px;
    text-align: center;
}

#back_button{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: blue;
    border-radius:25px;
    border: none;
    background: linear-gradient(90deg, #97D3FF 0%, #0C92F3 100%);
}

#question_b{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 70px;
    float: left;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 21.94px;

}

