body{
    display: grid;
    grid-template-areas: 'header' 'user' 'content';
    grid-template-rows: 84px 60px 1fr; grid-template-columns: 1fr;
    grid-gap: 0; 
    margin: 0;
    height: 100vh;
}

#header{ 
    grid-area: header; 
    background: yellow;
    padding-top: 10px;
    text-align: center;
}

#user{ 
    grid-area: user;
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#content{ 
    grid-area: content;
    background: blue;
}

#photo_user{
    width: 60px;
    height: 60px;
    background: chartreuse;
    margin-left: 6%;
}

#photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#name_user{
    width: 76.8442623%;
    background: cyan;
    text-align: center;
    font-size: 18px;
    padding-top: 21px;
    margin-right: 6%;
}

